<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Alim'eco</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="landing.css">
    </head>
    <body>
        <div id="landing-header">
            <h1>Alim'eco</h1>
            <p>Pour une alimentation saine, écologique et économique</p>
            <a href="/calculator" class="btn btn-lg btn-success">Accéder au calculateur</a>
        </div>
        <ul class="slideshow">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
    </body>
</html>